#financial {
  padding: 1rem;
  h6 {
    font-size: 12px;
    font-weight: 400;
    color: black;
    margin-bottom: -20px;
    text-align: right;
  }
  h3 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
  }
  #seperator {
    height: 20px;
  }
}
