@import 'src/styles/variable';

#financial {
  padding: 1rem;
  h6 {
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    margin-bottom: -1.3rem;
    text-align: right;
    @include media('>=phone', '<tablet') {
      display: none;
    }
  }
  h3 {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1.3rem;
    font-weight: bold;
  }
  #seperator {
    height: 1.3rem;
  }
}
