@import "src/styles/_mixin.scss";
@import "src/styles/_color.scss";

.invstat-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-decoration: none;
  justify-items: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;

  .blue {
      color: $blue;
  }
  .red {
      color: $bright-red;
  }
}
