@import 'src/styles/_mixin.scss';
@import 'src/styles/_color.scss';
@import 'src/styles/variable';

.report-item {
  @include rounded-button;
  display: grid;
  grid-template-columns: 1fr 2.4fr 0.8fr repeat(2, 1fr);
  column-gap: 1.2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  @include media(">=phone", "<tablet") {
    grid-template-columns: 1fr 2.5fr 1fr;
    padding: 1rem;
    div:nth-child(3) {
      display: none;
    }
    div:nth-child(5) {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: $background-color;
    a {
      text-decoration: underline $sub-text;
    }
  }
}
