@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

#stock {
  display: grid;
  grid-template-columns: 26.3rem 4fr 1fr;
  grid-template-rows: 2.5rem 30rem auto 15rem auto;
  grid-template-areas:
    'name . return'
    'chart chart invinfo'
    'companyinfo companyinfo companyinfo'
    'wordcloud listtable listtable'
    'invstat listtable listtable';
  gap: 2rem 2rem;
  padding: 0 8vw;
}

.add-button {
  grid-area: return;
  text-align: right;
  align-self: center;
  button {
    border: 0;
    font-size: 17px;
    color: #707070;
    background-color: #f2f2f2;
  }
  p {
    color: #707070;
  }
}

#title {
  grid-area: name;
  display: flex;
  align-items: center;
  & .id {
    font-size: 20px;
    font-weight: normal;
    color: #707070;
    margin-left: 0.8rem;
  }
}

#chart-section {
  @include content-container;
  grid-area: chart;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2.5rem;

  .numbers {
    p {
      color: $sub-text;
      margin-top: 3rem;
      font-size: 17px;
    }
    h4 {
      color: $container-navy;
    }
    .yield {
      display: flex;
      font-size: 87px;
      margin-top: 0.7rem;
      .percent {
        font-size: 40px;
        padding-top: 10px;
        padding-left: 10px;
      }
    }
    .price-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p {
        font-size: 12px;
      }
      h4 {
        margin-top: 0.5rem;
        font-size: 20px;
      }
    }
    .score-container {
      margin-top: -1.5rem;
      p {
        font-size: 12px;
      }
      h4 {
        margin-top: 0.5rem;
        font-size: 20px;
      }
    }
  }

  .chart-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart-stat {
      width: 50vw;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .stat-item {
        font-size: 14px;
        display: flex;
        color: #666666;

        p {
          color: $sub-text;
          padding-left: 4px;
        }
      }
    }
    .chart {
      width: 50vw;
    }
  }
}

#inv-info {
  @include content-container;
  grid-area: invinfo;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 8fr;

  h4 {
    padding-top: 0.5rem;
    font-size: 18px;
  }
  .inv-info-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    h5 {
      color: #858585;
      font-weight: normal;
      font-size: 12px;
    }
    p {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
#company-info {
  @include content-container;
  grid-area: companyinfo;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  h4 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $container-navy;
    span {
      font-size: 12px;
      font-weight: normal;
      color: $sub-text;
      margin-left: 1rem;
    }
  }
  p {
    align-self: left;
    font-size: 15px;
    padding-top: 1rem;
    padding-left: 1.5rem;
    white-space: pre-line;
    letter-spacing: 0px;
    line-height: 25px;
  }
}
#inv-stat {
  grid-area: invstat;

  .inv-stat-description {
    @include rounded-button;
    @include sub-heading;
    background-color: $container-navy;
    color: white;
    padding: 0.7rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 18px;
  }
  .inv-stat-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    color: $sub-text;
    margin-bottom: 0.5rem;
    font-size: 15px;
  }
  .inv-list {
    @include content-container;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
#wordcloud {
  grid-area: wordcloud;
}

#list-table {
  grid-area: listtable;
  display: flex;
  flex-direction: column;

  .list-button {
    grid-area: listbutton;

    button {
      @include rounded-button;
      @include sub-heading;
      background-color: white;
      color: $container-navy;
      margin-right: 1rem;
      border: none;
      padding: 0.7rem 1.5rem;
      font-size: 18px;
      &:hover {
        @include button-hover;
      }
    }
    .active {
      @include button-hover;
    }
  }
  .list-table {
    .list-title {
      padding: 1rem 3rem 0.5rem;
      color: $sub-text;
      &.report {
        display: grid;
        grid-template-columns: 1fr 2.4fr 0.8fr repeat(2, 1fr);
        column-gap: 1.2rem;
        font-size: 15px;
      }

      &.news {
        display: grid;
        grid-template-columns: 1fr 5fr;
        column-gap: 1.2rem;
        font-size: 15px;
      }
    }
    .list-content {
      @include content-container;
      padding: 1rem;
    }
  }
}
.loading {
  text-align: center;
}
