$matte-color: rgb(239, 239, 239);
$green: rgb(192, 208, 197);
$navy: rgb(32, 34, 55);
$red: #d03553;
$bright-red: rgb(220, 31, 41);
$blue: rgb(51, 103, 235);
$theme-light: #bbd2c5;
$theme-dark: #292e49;
$theme-medium: #536976;
