$background-color: #f2f2f2;
$container-fill: #ffffff;
$container-shadow: #bfd1c6;
$sub-text: #666666;
$navy: #2a2f47;
$container-navy: #293047;
$red: #e21414;
$bright-red: rgb(220, 31, 41);
$blue: #246ded;
$theme-light: #bbd2c5;
$theme-dark: #292e49;
$theme-medium: #536976;
$treemap-red: #deb4af;
$treemap-blue: #afcade;
