$background-color: #F2F2F2;
$container-fill: #FFFFFF;
$container-shadow: #BFD1C6;
$sub-text: #666666;
$navy: #2A2F47;
$container-navy: #293047;
$red: #E21414;
$bright-red: rgb(220, 31, 41);
$blue: #246DED;
$theme-light: #bbd2c5;
$theme-dark: #292e49;
$theme-medium: #536976;
