@mixin nav-menu {
  padding: 2rem 1rem 2.3rem;
  position: sticky;
  top: 2rem;
  height: fit-content;
}

@mixin rounded-button {
  border-radius: 14px;
  padding: 0.5rem;
}

@mixin button-hover {
  background-color: $container-navy;
  color: $container-fill;
}

@mixin content-container {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px $container-shadow;
  background-color: $container-fill;
  padding: 1rem;
}

@mixin sub-heading {
  font-size: 1.2rem;
  font-weight: 800;
}
