@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

nav {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  padding: 0 8vw;
  grid-template-areas:
    '. locale'
    'nav-left nav-right';

  img {
    width: auto;
    height: 43px;
    margin-right: 20px;
    margin-left: 10px;
  }

  #locale {
    grid-area: locale;
    flex: auto;
    flex-direction: row;
    justify-self: flex-end;
    padding-bottom: 10px;
    font-size: 13px;
    button {
      color: #2a2f47;
      background-color: #f2f2f2;
      padding: 0 5px 0 5px;
      font-size: 13px;
      border: 0;
      &:hover {
        font-weight: bold;
        color: $red;
      }
      &.active {
        font-weight: bold;
        color: $red;
      }
    }
  }

  #nav-left {
    grid-area: nav-left;
    width: 100%;

    & .logo {
      display: flex;
      align-items: center;
      color: black;
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
    }
  }

  #nav-right {
    grid-area: nav-right;
    width: 100%;
  }
}
