@import 'src/styles/color';
@import 'src/styles/mixin';
@import 'src/styles/variable';

nav {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas:
    '. locale'
    'nav-left nav-right';

  #locale {
    grid-area: locale;
    justify-self: end;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;

    @include media('>=phone', '<tablet') {
      display: none;
    }
    button {
      color: #2a2f47;
      background-color: #f2f2f2;
      padding: 0 0.3rem;
      font-size: 0.8rem;
      border: none;
      cursor: pointer;

      &:hover {
        font-weight: bold;
        color: $red;
      }
      &.active {
        font-weight: bold;
        color: $red;
      }
    }
  }

  #nav-left {
    grid-area: nav-left;

    .logo {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      font-size: 1.9rem;
      font-weight: bold;

      img {
        width: auto;
        height: 2.7rem;
        margin-right: 1.2rem;
        margin-left: 0.6rem;
      }
    }
  }

  #nav-right {
    grid-area: nav-right;
    justify-self: end;
  }
}
