@import 'src/styles/color';
@import 'src/styles/mixin';
@import 'src/styles/variable';

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;

  .nav-items {
    display: flex;

    @include media('>=phone', '<tablet') {
      display: none;
    }
  }

  .nav-item {
    margin-left: 2.5rem;

    @include media('>=phone', '<tablet') {
      margin: 0;
      text-align: center;
    }
    .nav-links {
      @include rounded-button;
      text-decoration: none;
      color: $navy;
      font-size: 1.1rem;

      &:hover {
        @include button-hover;
      }
      @include media('>=phone', '<tablet') {
        color: white;
      }
    }
  }
  .search-bar {
    width: 15rem;
    margin-left: 3.1rem;
    @include media('>=phone', '<tablet') {
      width: 10rem;
    }
  }
  #hamburger {
    display: none;
    font-size: 2rem;
    @include media('>=phone', '<tablet') {
      display: block;
      margin-left: 1rem;
    }
    &:hover {
      cursor: pointer;
      color: grey;
    }
  }
}

#topbar-menus {
  #topbar-logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    img {
      height: 3rem;
      margin-right: 1rem;
    }
  }
  .nav-item {
    &:hover {
      background-color: $background-color;
    }
  }
  .nav-links {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .locale {
    margin-top: 0.5rem;
    button {
      background-color: transparent;
      color: #2a2f47;
      font-size: 1.1rem;
      border: none;
      cursor: pointer;
      &:nth-child(1) {
        margin-right: 0.6rem;
      }
      &:nth-child(2) {
        margin-left: 0.6rem;
      }
      &:hover {
        background-color: $background-color;
      }
      &.active {
        font-weight: bold;
        color: $red;
      }
    }
  }

}
