@import 'src/styles/_color.scss';
@import 'src/styles/variable';

h4 {
  font-size: 1.1rem;
  @include media('>=phone', '<tablet') {
    font-size: 1.5rem;
  }
}

#favorites-title {
  display: grid;
  grid-template-columns: 2fr 1.1fr 1.1fr 2rem;
  color: $sub-text;
  font-size: 0.8rem;
  padding: 1.1rem 0 1.1rem 2.5rem;
  @include media('>=phone', '<tablet') {
    padding: 1rem 1.5rem;
  }
}

#favorites-list {
  li {
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: auto 2rem;
    border-radius: 14px;
    padding: 0.9rem 0 0.9rem 2.5rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 3px 6px #00000029;
    color: black;
    @include media('>=phone', '<tablet') {
      padding: 1rem 1.5rem;
    }
    .link {
      display: grid;
      grid-template-columns: 2fr 1.1fr 1.1fr;
      text-decoration: none;
      color: black;
    }
    p {
      font-weight: bold;
    }
    button {
      color: black;
      float: right;
      margin-right: 1.3rem;
      border: none;
      background: none;
      box-shadow: none;
      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }
}
