@import 'src/styles/color';
@import 'src/styles/_mixin.scss';
@import 'src/styles/_variable.scss';

#home {
  display: grid;
  grid-template-columns: 13rem 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'menu market favorites'
    'menu trending trending';
  gap: 2rem 2rem;

  .menu {
    grid-area: menu;
    @include content-container;
    @include nav-menu;
  }

  #stock-market {
    grid-area: market;
    @include content-container;
    padding: 1.5rem 2.5rem;
    background-color: $navy;
    color: white;
  }
  #favorites {
    grid-area: favorites;
    @include content-container;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
  }

  #trending {
    grid-area: trending;
    @include content-container;
    padding: 1.5rem 2.5rem;
    h4 {
      font-size: 18px;
    }
  }
}
