@import 'src/styles/color';
@import 'src/styles/mixin';
@import 'src/styles/variable';

#home {
  display: grid;
  grid-template-columns: 13rem 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'menu market favorites'
    'menu trending trending';
  gap: 2rem 2rem;

  @include media('>=phone', '<tablet') {
    display: flex;
    flex-direction: column;
  }
  .menu {
    grid-area: menu;
    @include content-container;
    @include nav-menu;

    @include media('>=phone', '<tablet') {
      position: static;
    }
  }
  #stock-market {
    grid-area: market;
    @include content-container;
    padding: 2rem 2.5rem;
    background-color: $navy;
    color: white;

    @include media('>=phone', '<tablet') {
      padding: 1.5rem 0 1.5rem 2.5rem;
    }
  }
  #favorites {
    grid-area: favorites;
    @include content-container;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
  }
  #trending {
    grid-area: trending;
    @include content-container;
    padding: 1.5rem 2.5rem;

    @include media('>=phone', '<tablet') {
      padding: 1.5rem 0;
      h4 {
        padding: 0 1.5rem;
      }
    }
  }
}
