@import 'src/styles/color';
@import 'src/styles/mixin';
@import 'src/styles/variable';

#home {
  display: grid;
  grid-template-columns: 13rem 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  'menu index favorites'
  'menu trending trending';
  gap: 2rem 2rem;

  @include media(">=phone", "<tablet") {
    display: flex;
    flex-direction: column;
  }
  .menu {
    grid-area: menu;
    @include section-default;
    @include sector-menu;

    @include media(">=phone", "<tablet") {
      position: static;
    }
  }
  #market-index {
    grid-area: index;
    @include section-default;
    padding: 2rem 2.5rem;
    background-color: $navy;
    color: white;

    @include media(">=phone", "<tablet") {
      padding: 1.5rem 0 1.5rem 2.5rem;
    }
  }
  #favorites {
    grid-area: favorites;
    @include section-default;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
  }
  #trending {
    grid-area: trending;
    @include section-default;
    padding: 1.5rem 2.5rem;

    @include media(">=phone", "<tablet") {
      padding: 1.5rem 0;
      h4 {
        padding: 0 2.5rem;
      }
    }
  }
}
