h3 {
    text-align: center;
}

.sector-list {
    color: blue;
    list-style-type: none;
    padding: 0 0.9rem 1rem 0.9rem;

    li {
        margin-top: 1.3rem;
        .menu-link {
            text-decoration: none;
            color: grey;
        }
    }

}

