@import 'src/styles/color';
@import 'src/styles/variable';

@mixin trending-grid-column {
  display: grid;
  grid-template-columns: 1.8fr 2.2fr 5fr 1.8fr 1.8fr 1.5fr;
  padding: 1rem 0rem 1rem 1.4rem;
  column-gap: 0.8rem;
}
@mixin trending-grid-column-mobile {
  grid-template-columns: 1fr 0.9fr 0.9fr 0.7fr;
  padding: 1rem 0rem 1rem 1.2rem;
}

#trending-title {
  @include trending-grid-column;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: $sub-text;

  @include media('>=phone', '<tablet') {
    @include trending-grid-column-mobile;
    div:nth-child(1) {
      display: none;
    }
    div:nth-child(3) {
      display: none;
    }
  }
}

#trending-list {
  font-size: 1rem;

  li {
    @include trending-grid-column;
    border-radius: 16px;

    @include media('>=phone', '<tablet') {
      @include trending-grid-column-mobile;
      column-gap: 1rem;
      #date {
        display: none;
      }
      a:nth-child(3) {
        display: none;
      }
    }
    #num {
      font-weight: bold;
      font-size: 1.1rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
    &:hover {
      background-color: $background-color;
      a {
        text-decoration: underline $sub-text;
      }
    }
  }
}
