@import '/src/styles/color';
@import 'src/styles/_mixin.scss';

.stock-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 0 4vw;
    column-gap: 2vw;

    .menu-container {
        @include content-container;
        width: 9.5rem;
        height: 38rem;
        padding: 2rem 1rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        text-align: center;

        .chart-container {
            @include content-container;
            flex-basis: 27rem;
        }

        .listtitle-container {
            flex-basis: 4.8rem;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-content: flex-end;
            color: grey;
            padding: 0 30px 15px;
        }

        .stocklist-container {
            @include content-container;
            display: flex;
            flex-direction: column;
            padding: 25px 30px;
        }
    }

}
