@import 'src/styles/_mixin.scss';
@import 'src/styles/_color.scss';
@import 'src/styles/variable';

.stock-item {
  @include rounded-button;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
  padding: 1rem 0 1rem 3rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin-top: 1rem;

  @include media('>=phone', '<tablet') {
    grid-template-columns: 1.2fr 1fr 0.8fr 1fr 0.8fr;
    padding: 1rem 0 1rem 2rem;
  }
  &:hover {
    background-color: $background-color;
  }
  .name {
    font-weight: bold;
    @include media('>=phone', '<tablet') {
      text-align: left;
    }
  }
}
